*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("shattered-island.gif");
}

#header {
	padding-bottom: 20px;
 	font-family: 'Bungee Shade', cursive;
	text-align: center;
	font-size: 2em;
	background-color: red;
	border-bottom: solid black 8px;
 }

.back {
	display: inline-block;
	float: left;
	font-family:'Caveat', cursive;
	font-weight: 900;
}

.next {
	display: inline-block;
	float: right;
	padding-right: 5px;
	font-family: 'Caveat', cursive;
	font-weight: 900;
}

img {
	display: block;
	margin: auto;
}

#list {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	text-align: center;
	font-size: 2em;
}

ul {list-style-type: none;}

/* Month header */
.month {
	padding-top: 40px;
	padding-bottom: 40px;
    width: 100%;
    background: grey;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.2em;
    color:grey;
    font-family: 'Caveat', cursive;
}

.centerAugust {
	text-align: center;
	font-family: 'Caveat', cursive;
	font-size: 3em;
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
}

.centerHome {
	text-align: center;
	font-family: 'Caveat', cursive;
	font-weight: 900;
}

.describeCalendar {
	padding-top: 10px;
	text-align: center;
	color: black;
	font-family: 'Caveat', cursive;
	font-size: 1.5em;
}

h3{
	text-align: center;
	font-family: 'Palanquin Dark', sans-serif;
}

a.movies:link{
	text-decoration: none;
	color: red;
}

a.movies:visited {
	text-decoration: none;
	color: red;
}

a.movies:hover {
	text-decoration: none;
	color: white;
}

a.movies:active {
	text-decoration: none;
}